ul {
  list-style-type: none;
}

.icon {
  margin-bottom: 10px;
}

.poster {
  margin-bottom: 10px;
}

.title {
  display: inline;
  margin-right: 10px;
}

.plot {
  position: absolute;
  word-spacing: 10px;
  font-size: 25px;
  right: 100px;
  top: 100px;
  width: 800px;
  text-align: right;
  letter-spacing: 4px;
  line-height: 30px;
  font-weight: 100;
}

.poster-title {
  position: absolute;
  top: 150px;
  left: 15px;
  z-index: 2;
}

.rating-genre {
  position: absolute;
  top: 150px;
  left: 420px;
  text-align: left;
  z-index: 0;
}

.rating {
  position: relative;
}

.movie-info {
  text-align: left;
  position: absolute;
  top: 270px;
  left: 420px;
  z-index: 25;
  width: 30%;
}

.released {
  display: block;
  margin-top: 170px;
}

@media (max-width: 500px) {
  .poster {
    margin: 0 auto;
    position: absolute;
    top: 250px;
    left: 0;
    width: 200px;
    height: 300px;
  }

  .plot {
    font-size: 13px;
    word-spacing: 0;
    letter-spacing: 0;
    left: 10%;
    top: 40px;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    display: block;
  }

  .title {
    font-size: 17px;
    display: inline-block;
    position: relative;
    top: 200px;
    left: -35px;
  }
  .runtime {
    display: inline-block;
    position: relative;
    top: 200px;
    left: -35px;
  }

  .rating-genre {
    font-size: 8px;
  }

  .movie-info {
    font-size: 12px;
    width: 130px;
    height: 250px;
    left: 220px;
    top: 386px;
  }

  .rating-genre {
    left: 30px;
    font-size: 7px;
    top: 706px;
  }

  .rating,
  .genre {
    display: inline;
  }

  .rating {
    margin-right: 20px;
  }

  .icon {
    margin-bottom: 2px;
  }

  .released {
    margin: 0;
  }

  .writers,
  .actors,
  .awards {
    width: 200px;
  }
}
