.links {
  list-style-type: none;
  position: relative;
  top: 0;
  left: 34%;
}

.logo {
  display: inline;
  position: absolute;
  top: 0;
  left: 0.3%;
}

li {
  display: inline;
  margin-left: 50px;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  color: rgb(102, 102, 102);
}

.active {
  color: #31f5af;
}
