.search-component {
  position: absolute;
  top: 0;
  right: 20px;
}

.search {
  font-size: 35px;
}

.search-input {
  background: #1b1b1b;
  color: white;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid white;
  margin-left: 10px;
  width: 250px;
  position: relative;
  bottom: 4px;
  outline: none;
}

.icon {
  color: #05d2ff;
  margin-bottom: 3px;
  margin-right: 5px;
}

form {
  display: inline;
}

@media (max-width: 500px) {
  .search-component {
    width: 300px;
    position: absolute;
    left: 120px;
    top: 3px;
  }

  .search-input {
    width: 100px;
    font-size: 13px;
  }

  .search {
    font-size: 20px;
  }
}
